@using System.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StsCallBackForAuthCodeClient</title>
</head>
<body>
<div>
    ACCESS TOKEN, ID TOKEN, REFRESH TOKEN AND EXPIRATION ARE NOW ADDED TO APPLICATION CACHE!
</div>
<div>
    @Html.ActionLink("Start calling the WebApi", "StartCallingWebApi")
</div>
</body>
</html>
