body{
    background-image:url("/Content/Images/backround-app.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}
.panel {
    background-color: transparent;
    border: none;
    text-align: center;
}
.panel-body {
    width: 80%;
    margin: 0 auto;
}
.page-header {
    width: 40%;
    margin: 0 auto;
    border-bottom: none;
}
body > div.container.page-login > div:nth-child(3) > div.col-md-12.col-sm-12 > div > ul > li > a {
    color: #ffffff;
}
body > div.container.page-login > div:nth-child(3) > div.panel-body > ul > li > a {
    background-color: transparent;
    color: #ffffff;
}
.form-control {
    background-color: transparent;
    border: solid 2px #fff;
    border-radius: 16px;
    padding: 20px 10px;
    text-align: center;
    color: #fff;
    box-shadow: none;
}
.ng-prisitne{
    color: #ffffff;
}
body > div.container.page-login > div > div > div > div > form {
    color: #ffffff;
}
.btn-login {
    width: 100%;
    background-color: #ffffff;
    border-radius: 16px;
    color: rgba(135, 72, 111, 0.95);
}
.glyphicon {
    font-size: 1.2em;
} 
