@model BoongalooCompany.IdentityServer.Models.CompleteAdditionalInformationModel

@{
    ViewBag.Title = "Complete Additional Information";
}

@using (Html.BeginForm())
{
    <h3>
        Awesome! You're real! We just need a bit more info about you...
    </h3>

    <div class="form-group" hidden="hidden">
        @Html.TextBoxFor(m => m.ExternalProviderName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="First">First name</label>
        @Html.TextBoxFor(m => m.FirstName, new {@class = "form-control"})
    </div>

    <div class="form-group">
        <label>Last name</label>
        @Html.TextBoxFor(m => m.LastName, new {@class = "form-control"})
    </div>

    <div class="form-group">
        <label>Email</label>
        @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
    </div>

    <div class="form-group">
        <button class="btn btn-primary">Register</button>
    </div>
}