@model BoongalooCompany.IdentityServer.Models.CompleteAdditionalInformationModel

@{
    ViewBag.Title = "Complete Additional Information";
}

<h2>Complete Additional Information</h2>

@using (Html.BeginForm())
{
    <h1>
        If external information is needed by the user, we are filling it up here and update CompleteAdditionalInformationModel with fields.
    </h1>

    <div class="form-group" hidden="hidden">
        @Html.TextBoxFor(m => m.ExternalProviderName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <button class="btn btn-primary">Register</button>
    </div>
}