<div class="page-header">
    <img class="img-responsive" src="../Content/Images/logo.png" alt="" />
</div>

<div class="row" ng-show="model.errorMessage">
    <div class="col-md-12 col-sm-12">
        <div ng-init="model.LoginButtonClicked = false" class="alert alert-danger">
            <strong>Error:</strong>
            {{model.errorMessage}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12" ng-show="model.loginUrl">
        <div class="panel panel-default">
            <div class="panel-body">
                <!-- The 'onsubmit' attribute is used to disable the login button when it was clicked. If more elegant solution is available go for it.-->
                <form name="form" method="post" action="{{model.loginUrl}}" onsubmit="loginButton.disabled = true;return true;">
                    <anti-forgery-token token="model.antiForgery"></anti-forgery-token>

                    <fieldset>
                        <div class="form-group">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <input required name="username" id="username" type="text" class="form-control" ng-change="model.errorMessage = false; model.LoginButtonClicked = false" placeholder="Username" ng-model="model.username" maxlength="100">
                        </div>
                        <div class="form-group">
                            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                            <input required id="password" name="password" type="password" class="form-control" ng-change="model.errorMessage = false; model.LoginButtonClicked = false" placeholder="Password" ng-model="model.password" maxlength="100" autocomplete="off" focus-if="model.username">
                        </div>
                        <div class="form-group login-remember" ng-show="model.allowRememberMe">
                            <label for="rememberMe">
                                <input type="checkbox" id="rememberMe" name="rememberMe" ng-model="model.rememberMe" value="true">
                                <strong>Remember me</strong>
                            </label>
                        </div>
                        <div class="form-group">
                            <button onclick="location.href='boongaloo://loginButtonInersect'" name="loginButton" class="btn btn-login btn-primary" ng-init="model.LoginButtonClicked = false" ng-click="model.LoginButtonClicked = true">
                                <span ng-show="model.LoginButtonClicked && model.username && model.password" class="glyphicon glyphicon-refresh spinning"></span>
                                <span ng-show="!model.LoginButtonClicked || !model.username || !model.password">Login</span>
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <ul class="list-unstyled">
                <li ng-repeat="link in model.additionalLinks"><a ng-href="{{link.href}}">{{link.text}}</a></li>
            </ul>
        </div>
    </div>

    <!---<div class="col-md-6 col-sm-6 external-providers" ng-show="model.externalProviders.length">-->
    <div class="panel panel-default">
        <!--  <div class="panel-heading">
              <h3 class="panel-title">External Login</h3> -->
    </div>
    <div class="panel-body">
        <ul class="list-inline" style="text-align:center">
            <li ng-repeat="provider in model.externalProviders">
                <a class="btn btn-default" href="{{provider.href}}">{{provider.text}}</a>
            </li>
        </ul>
    </div>
    <!---- </div> -->
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {
        //A bit of a workaround for the navbar header line that shows up. 
        //TODO: If more elegant way is found for hiding it - go for it. Pure javascript is used since jQuery is not available here.
        document.getElementsByClassName("navbar")[0].style.visibility = 'hidden';
    });
</script>